Install dependencies

In [17]:
import pandas as pd
import numpy as np

Import the data and make necessary changes

In [18]:
census_data = pd.read_csv('sc-est2023-alldata5.csv')
# Keep the rows with 
census_data = census_data[(census_data['SEX']==0) & (census_data['ORIGIN']==0)].reset_index(drop=True)
census_data['DIVISION'] = np.where(census_data['DIVISION'] == 1, 'New England',
                            np.where(census_data['DIVISION'] == 2, 'Middle Atlantic',
                            np.where(census_data['DIVISION'] == 3, 'East North Central',
                            np.where(census_data['DIVISION'] == 4, 'West North Central',
                            np.where(census_data['DIVISION'] == 5, 'South Atlantic',
                            np.where(census_data['DIVISION'] == 6, 'East South Central',
                            np.where(census_data['DIVISION'] == 7, 'West South Central',
                            np.where(census_data['DIVISION'] == 8, 'Mountain',
                            np.where(census_data['DIVISION'] == 9, 'Pacific', 'Unknown')))))))))
census_data

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,ORIGIN,RACE,AGE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023
0,40,3,East South Central,1,Alabama,0,0,1,0,37590,37568,38258,39527,39737
1,40,3,East South Central,1,Alabama,0,0,1,1,39100,38671,38003,38731,40077
2,40,3,East South Central,1,Alabama,0,0,1,2,40415,40185,39001,38505,39330
3,40,3,East South Central,1,Alabama,0,0,1,3,41370,41046,40669,39506,39285
4,40,3,East South Central,1,Alabama,0,0,1,4,42169,42156,41391,41090,40066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21925,40,4,Mountain,56,Wyoming,0,0,5,81,7,7,7,10,10
21926,40,4,Mountain,56,Wyoming,0,0,5,82,4,3,2,2,4
21927,40,4,Mountain,56,Wyoming,0,0,5,83,3,3,2,1,1
21928,40,4,Mountain,56,Wyoming,0,0,5,84,1,1,2,1,1
21929,40,4,Mountain,56,Wyoming,0,0,5,85,10,10,11,14,16

Answer the following questions:

    1. Which state has the lowest, highest, and median percentage of 64 year olds?
    
    2. Sort the divions in order of the percentage of their population under 22 years old 

    3. What is the median age in Nevada, estimated, in 2020?


For all questions, base your answers off the population field "ESTIMATESBASE2020"